{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Patient</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Case number</label>
          <input name="case_number" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient name</label>
          <input name="receipe_name" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Case Description</label>
          <textarea class="form-control" name="receipe_description"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient Image</label>
          <input name="receipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>

      <div class="mt-5">
        
        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Case</label>
            <input name="search" type="text" class="form-control">
            
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
      </div>

    
    
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Case number</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Case Description</th>
            <th scope="col">Image</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.case_number}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td><img src="/media/{{receipe.receipe_image}}" style ="height:100px"></td>
            <td>
              <a href="/delete_receipe/{{receipe.id}}" class="btn btn-danger m-2">Delete</a>
              <a href="/update_receipe/{{receipe.id}}" class="btn btn-success">update</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}