{% extends "base.html" %}
{% block start %}

<form class="col-20 mx-auto card p-3 danger-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mt-5">
        
        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Case</label>
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
      </div>

    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Case number</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Relation</th>
            <th scope="col">Gender</th>
            <th scope="col">status</th>
            <th scope="col">phone</th>
            <th scope="col">Religion</th>
            <th scope="col">Occupation</th>
            <th scope="col">Address</th>
            <th scope="col">Case Description</th>
            <th scope="col">Medical History</th>
            <th scope="col">Family History</th>
            <th scope="col">Investigation</th>
            <th scope="col">Image</th>

        </tr>
        </thead>
        <tbody>
        {% for receipe in receipes%}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.case_number}}</td>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.relation}}</td>
            <td>{{receipe.gender}}</td>
            <td>{{receipe.status}}</td>
            <td>{{receipe.phone}}</td>
            <td>{{receipe.religion}}</td>
            <td>{{receipe.occupation}}</td>
            <td>{{receipe.address}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>{{receipe.medical_history}}</td>
            <td>{{receipe.family_history}}</td>
            <td>{{receipe.investigation}}</td>

            <td><img src="/media/{{receipe.receipe_image}}" style ="height:100px"></td>
            <td>
            <a href="/delete_receipe/{{receipe.id}}" class="btn btn-danger m-2">Delete</a>
            <a href="/update_receipe/{{receipe.id}}" class="btn btn-success">update</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}